.middle-main-1 {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
  z-index: 100;
  padding: 10px;
}
.post-1 {
  display: flex;
  padding: 10px 20px;
}
.post {
  flex: 1;
  border: 1px solid rgba(199, 192, 192, 0.5);
  background-color: transparent;
  border-radius: 40px;
}
.post::placeholder {
  padding-left: 10px;
  color: black;
}
.upload {
  height: 25px;
  margin: 12px;
}
.input {
  display: flex;
  align-items: center; 
  padding: 10px;
  
}
.linked-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}
.post-about {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;

}
.post-image {
  width: 100%;
  margin-top: 10px;
}
.input{
  cursor: pointer;
}