.icon-blue {
  filter: invert(17%) sepia(100%) saturate(2868%) hue-rotate(215deg) brightness(101%) contrast(101%);
}
.fGhzmg{
  max-width: 90% !important;
}
input{
  background-color: #fff !important;
}
.custom-popup {
  z-index: 5002 !important; /* Ensure it's above everything */
}